<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angrychimps.appname"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.angrychimps.appname.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.angrychimps.appname.customer.search.SearchResultsActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.angrychimps.appname.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
        </activity>

        <activity
            android:name=".customer.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.angrychimps.appname.MainActivity"
            android:theme="@android:style/Theme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.angrychimps.appname.MainActivity" />
        </activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
